@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-light font-sans overflow-x-hidden;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-secondary to-blue-400 bg-clip-text text-transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

